@keyframes openModal {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes closeModal {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0);
    opacity: 0;
  }
}

.open-modal {
  animation: openModal 0.3s ease-out forwards;
}

.close-modal {
  animation: closeModal 0.3s ease-out forwards;
}
