.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 1.7em;
  text-align: center;
  margin: 0.4em;
}
