@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply flex flex-col p-4 w-[48.5%] md:w-[47.5%] lg:w-[31%] xl:w-[23.7%] min-w-[150px] max-w-[300px] h-72 rounded shadow-md overflow-hidden;
  }

  .transition-300 {
    @apply transition-all duration-300 ease-in-out;
  }

  .btn {
    @apply transition-300 flex items-center justify-center rounded-md py-2 px-[10px] text-sm text-white font-semibold outline-none focus:outline-none;
  }

  .primary-btn {
    @apply btn bg-primary hover:!border-primary hover:!bg-primary/5 hover:!text-primary border hover:!shadow-md;
  }

  .outlined-btn {
    @apply btn border border-secondary text-secondary hover:!shadow-md;
  }

  .primary-input {
    @apply p-2 w-full ring-1 rounded-lg transition-300 outline-none focus:ring-2 ring-gray-300;
  }
}

body {
  font-family: 'Poppins';
}

/** START PAGINATION  */

.rc-pagination-item {
  width: 35px !important;
  height: 35px !important;
  font-size: 14px !important;
  margin-top: 20px !important;
  transition: 0.3s !important;
  border-radius: 5px !important;
}

.rc-pagination-prev,
.rc-pagination-next {
  width: 35px !important;
  height: 35px !important;
  font-size: 14px !important;
  margin-top: 20px !important;
  transition: 0.3s !important;
  border-radius: 5px !important;
}

.rc-pagination-prev:hover button,
.rc-pagination-next:hover button {
  border-color: theme('colors.highlight/50') !important;
  background-color: theme('colors.highlight/50') !important;
  border-radius: 5px !important;
}

.rc-pagination-prev:hover button,
.rc-pagination-next:hover button {
  color: white !important;
}

.rc-pagination-item:hover {
  border-color: theme('colors.highlight') !important;
  background-color: theme('colors.highlight') !important;
  border-radius: 5px !important;
}

.rc-pagination-item:hover a {
  color: black !important;
}

.rc-pagination-prev > button,
.rc-pagination-next > button {
  border-radius: 5px !important;
  background-color: theme('colors.highlight') !important;
  border: none !important;
  font-size: 25px !important;
  font-weight: 300 !important;
  padding-bottom: 5px !important;
  color: theme('colors.black') !important;
}

.rc-pagination-item {
  border: 1px solid theme('colors.highlight') !important;
}

.rc-pagination-item > a {
  display: table-cell !important;
  height: 35px !important;
  width: 35px !important;
  transition: 0.3s !important;
  vertical-align: middle !important;
}

.rc-pagination-item-active {
  width: 35px !important;
  height: 35px !important;
  margin-top: 20px !important;
  border-color: theme('colors.highlight') !important;
  background-color: theme('colors.highlight') !important;
}

.rc-pagination-item-active > a {
  display: table-cell !important;
  height: 35px !important;
  width: 35px !important;
  font-weight: 600;
  vertical-align: middle !important;
  color: black !important;
}

.rc-pagination-jump-next > button {
  width: 35px !important;
  height: 35px !important;
  margin-top: 15px;
  cursor: default !important;
}

.rc-pagination-jump-prev > button {
  width: 35px !important;
  height: 35px !important;
  margin-top: 15px;
  cursor: default !important;
}

/*! END PAGINATION  */

/** Start Checkbox  */

.checkbox {
  /* display: inline-block; */
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: fit-content;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.checkbox__in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox__tick {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid theme('colors.gray.400');
  background-color: #ffff;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.checkbox__tick:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 10px;
  height: 9px;
  opacity: 0;
  background: url("data:image/svg+xml,%3Csvg width='10' height='9' viewBox='0 0 10 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 5.375L1.5 3.375L0 4.875L3.5 8.375L10 1.875L8.5 0.375L3.5 5.375Z' fill='black'/%3E%3C/svg%3E%0A")
    no-repeat 50% 50%/100% auto;
  -webkit-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.checkbox__text {
  margin-left: 8px;
  padding-top: 2px;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.3;
  color: theme('colors.gray.600');
}

.checkbox:hover .checkbox__tick {
  border-color: theme('colors.secondary');
}

.checkbox__input:checked + .checkbox__in .checkbox__tick {
  background: theme('colors.secondary');
  border-color: theme('colors.secondary');
}

.checkbox__input:checked + .checkbox__in .checkbox__tick:before {
  opacity: 1;
}

.checkbox__input:checked + .checkbox__in .checkbox__text {
  color: #11142d;
}

/*! End Checkbox  */
